

.container-fluid {
  padding: 0px 10%;
}

a {
  color: #009871 !important;
}

.navbar .nav>li>a {
    font-size: 13px !important;
    color: #eee !important;
    text-transform: capitalize !important;
}

mark, .mark {
  background-color: #f8f2b7;
  color: #333;
  border-radius: 2px; 
}

p.mb-0 {
  font-size: 0.9em;
  font-style: italic;
}

code.inline-code {
  color: #fff;
  background-color: #303030;
  padding: 1px 5px;
  border-radius: 5px;
  font-size: 14px;
}

code span.kw2 {
  color: #46e7b1;
}


h1, h2, h3, h4, h5 {
  font-family: 'News Cycle', sans-serif;
  font-weight: bold;
}

  
code span.op {
  
  color: #f56d6d;
}

code span.st {
    color: #FFD885;
}

code span.ot {
    color: #be8fef;
}

code span.kw {
  color: #f77979;
}

code span.im {
  color: #f77979;
}

code span.dv {
  color: #76ffd5;
}

code span.fl {
  color: #ECC785;
}

code span.co {
  color: #6eadbd;
}

p code, li code {
  color: #333;
  background-color: #efe5ca;
  font-size: 0.8em;
}

div h1.title {
    font-size: 42px;
    color: #777;
}

.header-section-number::after {
  content: "-";
}

.tocify {
  max-width: 220px !important;
    max-height: 85% !important;
    margin-left: -30px !important;
}


.section h1 {
  font-size: 2.1em;
  margin-top: 0px;
    font-weight: bold;
}

.section h2 {
    font-size: 1.7em;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.section h3 {
    font-size: 1.4em;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: bold;
}



ul .tocify ul, .tocify li {
    line-height: 20px;
    background-color: #EFEFEF;
    color: #333;
}

div.main-container {
    max-width: 1450px;
}

p, ol, li { 
  color: #333;
  font-size: 16px;
}


.spoiler {
  visibility: hidden;
}

.spoiler::before {
  visibility: visible;
  color: #EB6864;
  font-weight: bold;
  content: "Spoiler!"
}

.spoiler:hover {
  visibility: visible;
}

.spoiler:hover::before {
  display: none;
}

.img-responsive {
    width: auto;
    height: 125px;
    padding: 15px;
    margin: auto;
    max-height: 125px;
    max-width: 350px;
}

pre.scroll-350 {
  max-height: 350px;
  overflow-y: auto;
  background-color: inherit;
}

.profile-page .profile-header {
  position: relative
}

.profile-image img {
  border-radius: 50%;
  width: 100px;
  border: 3px solid #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.profile-page .profile-header .social-icon a {
  margin: 0 5px
}

.profile-page .profile-sub-header {
  min-height: 60px;
  width: 100%
}

.profile-page .profile-sub-header ul.box-list {
  display: inline-table;
  table-layout: fixed;
  width: 100%;
  background: #eee
}

.profile-page .profile-sub-header ul.box-list li {
  border-right: 1px solid #e0e0e0;
  display: table-cell;
  list-style: none
}

.profile-page .profile-sub-header ul.box-list li:last-child {
  border-right: none
}

.profile-page .profile-sub-header ul.box-list li a {
  display: block;
  padding: 15px 0;
  color: #424242
}


#footer {
   position:absolute;
   bottom:0;
   height:60px;   /* Height of the footer */
}